# TASK 8.2
## The best-selling albums of all time
Wczytaj do Pandas bazę najlepiej sprzedających się albumów wszechczasów (https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/).


1. Zamień nagłówki kolumn na polskie odpowiedniki: ['TYTUŁ','ARTYSTA','ROK','MAX POZ']
2. Ilu pojedynczych artystów znajduje się na liście?
3. Które zespoły pojawiają się najczęściej na liście?
4. Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, a pozostałe były wprowadzone małymi literami.
5. Wyrzuć z tabeli kolumnę ‘Max Poz’.
6. W którym roku wyszło najwięcej albumów znajdujących się na liście?
7. Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?
8. W którym roku wydany został najmłodszy album na liście?
9. Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.
10. Listę zapisz do pliku csv.

### import package

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551', header=0)

In [3]:
type(data)

list

In [4]:
data[0]

,POS,TITLE,ARTIST,YEAR,HIGH POSN
0,1,GREATEST HITS,QUEEN,1981,1
1,2,GOLD - GREATEST HITS,ABBA,1992,1
2,3,SGT PEPPER'S LONELY HEARTS CLUB BAND,BEATLES,1967,1
3,4,21,ADELE,2011,1
4,5,WHAT'S THE STORY MORNING GLORY,OASIS,1995,1
5,6,THRILLER,MICHAEL JACKSON,1982,1
6,7,THE DARK SIDE OF THE MOON,PINK FLOYD,1973,2
7,8,BROTHERS IN ARMS,DIRE STRAITS,1985,1
8,9,BAD,MICHAEL JACKSON,1987,1
9,10,GREATEST HITS II,QUEEN,1991,1
10,11,RUMOURS,FLEETWOOD MAC,1977,1
11,12,THE IMMACULATE COLLECTION,MADONNA,1990,1
12,13,BACK TO BLACK,AMY WINEHOUSE,2006,1
13,14,STARS,SIMPLY RED,1991,1
14,15,COME ON OVER,SHANIA TWAIN,1997,1
15,16,LEGEND,BOB MARLEY & THE WAILERS,1984,1
16,17,BACK TO BEDLAM,JAMES BLUNT,2004,1
17,18,URBAN HYMNS,VERVE,1997,1
18,19,BAT OUT OF HELL,MEAT LOAF,1977,9
19,20,1,BEATLES,2000,1
20,21,BRIDGE OVER TROUBLED WATER,SIMON & GARFUNKEL,1970,1
21,22,DIRTY DANCING,ORIGINAL SOUNDTRACK,1987,4
22,23,SPIRIT,LEONA LEWIS,2007,1
23,24,CRAZY LOVE,MICHAEL BUBLE,2009,1
24,25,NO ANGEL,DIDO,2000,1
25,26,WHITE LADDER,DAVID GRAY,1998,1
26,27,25,ADELE,2015,1
27,28,TALK ON CORNERS,CORRS,1997,1
28,29,SPICE,SPICE GIRLS,1996,1
29,30,THE FAME,LADY GAGA,2008,1
30,31,A RUSH OF BLOOD TO THE HEAD,COLDPLAY,2002,1
31,32,LIFE FOR RENT,DIDO,2003,1
32,33,ONLY BY THE NIGHT,KINGS OF LEON,2008,1
33,34,BEAUTIFUL WORLD,TAKE THAT,2006,1
34,35,HOPES AND FEARS,KEANE,2004,1
35,36,THE JOSHUA TREE,U2,1987,1
36,37,THE WAR OF THE WORLDS,JEFF WAYNE,1978,5
37,38,SCISSOR SISTERS,SCISSOR SISTERS,2004,1
38,39,BUT SERIOUSLY,PHIL COLLINS,1989,1
39,40,X&Y,COLDPLAY,2005,1
40,41,JAGGED LITTLE PILL,ALANIS MORISSETTE,1995,1
41,42,TUBULAR BELLS,MIKE OLDFIELD,1973,1
42,43,THE MAN WHO,TRAVIS,1999,1
43,44,TRACY CHAPMAN,TRACY CHAPMAN,1988,1
44,45,PARACHUTES,COLDPLAY,2000,1
45,46,GREATEST HITS,ABBA,1975,1
46,47,GREASE,ORIGINAL SOUNDTRACK,1977,1
47,48,I'VE BEEN EXPECTING YOU,ROBBIE WILLIAMS,1998,1
48,49,X,ED SHEERAN,2014,1
49,50,COME AWAY WITH ME,NORAH JONES,2002,1
50,51,GRACELAND,PAUL SIMON,1986,1
51,52,THE SOUND OF MUSIC,ORIGINAL CAST RECORDING,1965,1
52,53,LADIES & GENTLEMEN - THE BEST OF,GEORGE MICHAEL,1998,1
53,54,TANGO IN THE NIGHT,FLEETWOOD MAC,1987,1
54,55,THE MARSHALL MATHERS LP,EMINEM,2000,1
55,56,SWING WHEN YOU'RE WINNING,ROBBIE WILLIAMS,2001,1
56,57,PROGRESS,TAKE THAT,2010,1
57,58,EYES OPEN,SNOW PATROL,2006,1
58,59,NEVER FORGET - THE ULTIMATE COLLECTION,TAKE THAT,2005,2
59,60,AUTOMATIC FOR THE PEOPLE,REM,1992,1

In [5]:
df = pd.DataFrame(data[0])

In [6]:
df[:5]

   POS                                 TITLE   ARTIST  YEAR  HIGH POSN
0    1                         GREATEST HITS    QUEEN  1981          1
1    2                  GOLD - GREATEST HITS     ABBA  1992          1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967          1
3    4                                    21    ADELE  2011          1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995          1

### 1. Zamień nagłówki kolumn na polskie odpowiedniki: ['TYTUŁ','ARTYSTA','ROK','MAX POZ']

In [7]:
df.rename(columns = {'POS' : 'LP', 'TITLE' : 'TYTUL', 'ARTIST' : 'ARTYSTA', 'YEAR' : 'ROK', 'HIGH POSN' : 'MAX POZ'}, inplace = True)
df[:5]

   LP                                 TYTUL  ARTYSTA   ROK  MAX POZ
0   1                         GREATEST HITS    QUEEN  1981        1
1   2                  GOLD - GREATEST HITS     ABBA  1992        1
2   3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
3   4                                    21    ADELE  2011        1
4   5        WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

### 2. Ilu pojedynczych artystów znajduje się na liście?

In [8]:
unique_artist = df['ARTYSTA'].unique()
print(unique_artist)

['QUEEN' 'ABBA' 'BEATLES' 'ADELE' 'OASIS' 'MICHAEL JACKSON' 'PINK FLOYD'
 'DIRE STRAITS' 'FLEETWOOD MAC' 'MADONNA' 'AMY WINEHOUSE' 'SIMPLY RED'
 'SHANIA TWAIN' 'BOB MARLEY & THE WAILERS' 'JAMES BLUNT' 'VERVE'
 'MEAT LOAF' 'SIMON & GARFUNKEL' 'ORIGINAL SOUNDTRACK' 'LEONA LEWIS'
 'MICHAEL BUBLE' 'DIDO' 'DAVID GRAY' 'CORRS' 'SPICE GIRLS' 'LADY GAGA'
 'COLDPLAY' 'KINGS OF LEON' 'TAKE THAT' 'KEANE' 'U2' 'JEFF WAYNE'
 'SCISSOR SISTERS' 'PHIL COLLINS' 'ALANIS MORISSETTE' 'MIKE OLDFIELD'
 'TRAVIS' 'TRACY CHAPMAN' 'ROBBIE WILLIAMS' 'ED SHEERAN' 'NORAH JONES'
 'PAUL SIMON' 'ORIGINAL CAST RECORDING' 'GEORGE MICHAEL' 'EMINEM'
 'SNOW PATROL' 'REM']

In [9]:
number_of_unique_artist = df['ARTYSTA'].nunique()
print(f"ANSWER: There are {number_of_unique_artist} unique artist")
# other posibility to ansewer: unique_artist.size

ANSWER: There are 47 unique artist

### 3. Które zespoły pojawiają się najczęściej na liście?

In [11]:
most_popular_artists = df['ARTYSTA'].value_counts().to_frame(name='ILOSC POJAWIEN W ZESTAWIENIU')

print(f"Artist appears in list more then ones: \n{most_popular_artists[most_popular_artists['ILOSC POJAWIEN W ZESTAWIENIU'] > 1]}")

Artist appears in list more then ones:
                     ILOSC POJAWIEN W ZESTAWIENIU
ARTYSTA
COLDPLAY                                        3
TAKE THAT                                       3
FLEETWOOD MAC                                   2
ABBA                                            2
DIDO                                            2
ORIGINAL SOUNDTRACK                             2
QUEEN                                           2
ROBBIE WILLIAMS                                 2
BEATLES                                         2
MICHAEL JACKSON                                 2
ADELE                                           2

In [12]:
print(f"List of most popular artist (15 first position)\n {most_popular_artists[:15]}")

List of most popular artist (15 first position)
                      ILOSC POJAWIEN W ZESTAWIENIU
ARTYSTA
COLDPLAY                                        3
TAKE THAT                                       3
FLEETWOOD MAC                                   2
ABBA                                            2
DIDO                                            2
ORIGINAL SOUNDTRACK                             2
QUEEN                                           2
ROBBIE WILLIAMS                                 2
BEATLES                                         2
MICHAEL JACKSON                                 2
ADELE                                           2
SNOW PATROL                                     1
KEANE                                           1
U2                                              1
JEFF WAYNE                                      1

### 4. Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, a pozostałe były wprowadzone małymi literami.

In [13]:
df.rename(str.title, axis='columns', inplace = True)
print(df[:10])

   Lp                                 Tytul          Artysta   Rok  Max Poz
0   1                         GREATEST HITS            QUEEN  1981        1
1   2                  GOLD - GREATEST HITS             ABBA  1992        1
2   3  SGT PEPPER'S LONELY HEARTS CLUB BAND          BEATLES  1967        1
3   4                                    21            ADELE  2011        1
4   5        WHAT'S THE STORY MORNING GLORY            OASIS  1995        1
5   6                              THRILLER  MICHAEL JACKSON  1982        1
6   7             THE DARK SIDE OF THE MOON       PINK FLOYD  1973        2
7   8                      BROTHERS IN ARMS     DIRE STRAITS  1985        1
8   9                                   BAD  MICHAEL JACKSON  1987        1
9  10                      GREATEST HITS II            QUEEN  1991        1

### 5. Wyrzuć z tabeli kolumnę ‘Max Poz’

In [14]:
data_without_max_poz = df.drop('Max Poz',axis=1)
data_without_max_poz[:10]

   Lp                                 Tytul          Artysta   Rok
0   1                         GREATEST HITS            QUEEN  1981
1   2                  GOLD - GREATEST HITS             ABBA  1992
2   3  SGT PEPPER'S LONELY HEARTS CLUB BAND          BEATLES  1967
3   4                                    21            ADELE  2011
4   5        WHAT'S THE STORY MORNING GLORY            OASIS  1995
5   6                              THRILLER  MICHAEL JACKSON  1982
6   7             THE DARK SIDE OF THE MOON       PINK FLOYD  1973
7   8                      BROTHERS IN ARMS     DIRE STRAITS  1985
8   9                                   BAD  MICHAEL JACKSON  1987
9  10                      GREATEST HITS II            QUEEN  1991

### 6. W którym roku wyszło najwięcej albumów znajdujących się na liście?

In [18]:
year_with_the_hight_number_of_albums = df['Rok'].value_counts().to_frame()
year_of_max_albums = year_with_the_hight_number_of_albums.idxmax()
print(f"Year with max albums {year_of_max_albums.iloc[0]}")

Year with max albums 2000

Po wyświetleniu listy w pełni to zarówno w 2000 jak w 1987 pojawiły się 4 albumy w zestawieniu, nie wiem czy nie trzeba by pokazać obu wartości. Alternatywne rozwiązanie.

In [22]:
year_counts = df['Rok'].value_counts()
max_albums = year_counts.max()
list_of_years = year_counts[year_counts == max_albums]

print("Year(s) with max albums:")
print(list_of_years)

Year(s) with max albums:
Rok
2000    4
1987    4
Name: count, dtype: int64

### 7. Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?

In [24]:
number_of_albums_between_1960_1990 = df[(df['Rok'] >= 1960) & (df['Rok'] <= 1990)].count()
print(f"Number of albums between 1960 and 1990: {number_of_albums_between_1960_1990}")

Number of albums between 1960 and 1990: Lp         22
Tytul      22
Artysta    22
Rok        22
Max Poz    22
dtype: int64

### 8. W którym roku wydany został najmłodszy album na liście?

In [25]:
youngest_year_album = df['Rok'].max()
print(f"The youngest album was released in {youngest_year_album}")

The youngest album was released in 2015

### 9. Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.

In [26]:
sorted_by_year = df.sort_values(by=['Rok'])
the_ealrest_albums_for_artist = sorted_by_year.drop_duplicates(subset = ['Artysta'], keep='first')
list_of_albums = the_ealrest_albums_for_artist.drop(['Lp', 'Max Poz', 'Rok', 'Artysta'], axis=1)
list_of_albums

                                     Tytul
51                      THE SOUND OF MUSIC
2     SGT PEPPER'S LONELY HEARTS CLUB BAND
20              BRIDGE OVER TROUBLED WATER
6                THE DARK SIDE OF THE MOON
41                           TUBULAR BELLS
45                           GREATEST HITS
18                         BAT OUT OF HELL
10                                 RUMOURS
46                                  GREASE
36                   THE WAR OF THE WORLDS
0                            GREATEST HITS
5                                 THRILLER
15                                  LEGEND
7                         BROTHERS IN ARMS
50                               GRACELAND
35                         THE JOSHUA TREE
43                           TRACY CHAPMAN
38                           BUT SERIOUSLY
11               THE IMMACULATE COLLECTION
13                                   STARS
59                AUTOMATIC FOR THE PEOPLE
4           WHAT'S THE STORY MORNING GLORY
40                      JAGGED LITTLE PILL
28                                   SPICE
27                         TALK ON CORNERS
14                            COME ON OVER
17                             URBAN HYMNS
25                            WHITE LADDER
52        LADIES & GENTLEMEN - THE BEST OF
47                 I'VE BEEN EXPECTING YOU
42                             THE MAN WHO
24                                NO ANGEL
44                              PARACHUTES
54                 THE MARSHALL MATHERS LP
49                       COME AWAY WITH ME
37                         SCISSOR SISTERS
34                         HOPES AND FEARS
16                          BACK TO BEDLAM
58  NEVER FORGET - THE ULTIMATE COLLECTION
57                               EYES OPEN
12                           BACK TO BLACK
22                                  SPIRIT
32                       ONLY BY THE NIGHT
29                                THE FAME
23                              CRAZY LOVE
3                                       21
48                                       X

### 10. Listę zapisz do pliku csv

In [27]:
list_of_albums.to_csv('list_of_albums.csv', index = False)